*{
	color:whitesmoke;
}
body{
	color:whitesmoke;
	background: black;
	padding-top:20px;
}
.container-fluid{
	padding:0px;
}
pre{
	color:whitesmoke;
}

.row{
	margin:30px 0px;
}
.wide{
	width: 100%;
	padding:0px;
}
.thumb-img{
	overflow: hidden;
	height: 300px;
}






/*@media (min-width: 576px) {*/


/*}*/
/*@media (min-width: 1200px) {*/
	/*.card-img-top{*/
		/*width:auto;*/
		/*height:270px;*/
	/*}*/
/*}*/

/*.top-card .card-header {*/
    /*background-image: url(../image/top_card_bg.jpg);*/
    /*background-size: cover;*/
    /*background-position-y: -500px;*/
    /*color: white;*/
	/*padding:5rem;*/
/*}*/
/*.top-card .card-header h1,.top-card .card-header h2{*/
	/*display:inline;*/
/*}*/
/*.card-img-top{*/
	/*opacity: 0.5;*/
/*}*/

/*.card-img-top:hover{*/
    /*opacity: 1;*/
/*}*/

/*.card-title{*/
	/*margin-top:5px;*/
	/*color: #4caf50 !important;*/
	/*font-weight:bold !important;*/
/*}*/

/*sup,sub{*/
    /*font-size:0.8rem !important;*/
/*}*/



/*#footer{*/
	/*border-top:1px solid #666;*/
	/*height:70px;*/
	/*line-height:70px;*/
	/*text-align:center;*/
/*}*/

/*h4::first-letter{*/
    /*font-size: 2.2rem;*/
/*}*/