*{
	color:whitesmoke;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	word-break: keep-all;
}
sub, sup {
	font-size: 50%;
	color: #ffe6ba;
}
body{
	color:whitesmoke;
	background: linear-gradient(90deg, rgb(69, 69, 69) 0%, rgba(0,0,0,1) 100%);
	padding-top:20px;
}
.container-fluid{
	padding:0px;
}
p{
	word-break: break-all;
	white-space: pre-wrap;
	color:whitesmoke;
	font-size: 1.5rem;
}
div{
	word-break: keep-all;
	color:whitesmoke;
}
.row{
	margin:300px 0px;
	padding: 50px 0px;
}
.wide{
	width: 100%;
	padding:0px;
}
.thumb-img{
	overflow: hidden;
	height: 300px;
}
.parallax-window {
	min-height: 600px;
}

.image-background-1{
	background-image: url("../image/text_background_1.jpg");
	-webkit-background-clip: text;
	color: transparent !important;
    background-size: contain;
    font-weight: bolder;
    padding:50px;
}
.big-data-desc{
	background: #000119db;
	border-radius: 20px;
}
.big-data-title{
	text-shadow: 3px 0 10px #000000, 0 3px 10px #000000, 3px 0 10px #000000, 0 -3px 10px #000000;
}





@media (min-width: 1200px) {
	.big-data-desc{
		max-width: 40vw;
	}
}

@media (max-width: 992px){
	.display-2 {
		font-size: 2.0rem;
	}
	p{
		font-size: 1.2rem;
	}
	.parallax-window {
		min-height: 300px;
	}
}


/*@media (min-width: 576px) {*/


/*}*/
/*@media (min-width: 1200px) {*/
	/*.card-img-top{*/
		/*width:auto;*/
		/*height:270px;*/
	/*}*/
/*}*/

/*.top-card .card-header {*/
    /*background-image: url(../image/top_card_bg.jpg);*/
    /*background-size: cover;*/
    /*background-position-y: -500px;*/
    /*color: white;*/
	/*padding:5rem;*/
/*}*/
/*.top-card .card-header h1,.top-card .card-header h2{*/
	/*display:inline;*/
/*}*/
/*.card-img-top{*/
	/*opacity: 0.5;*/
/*}*/

/*.card-img-top:hover{*/
    /*opacity: 1;*/
/*}*/

/*.card-title{*/
	/*margin-top:5px;*/
	/*color: #4caf50 !important;*/
	/*font-weight:bold !important;*/
/*}*/

/*sup,sub{*/
    /*font-size:0.8rem !important;*/
/*}*/



/*#footer{*/
	/*border-top:1px solid #666;*/
	/*height:70px;*/
	/*line-height:70px;*/
	/*text-align:center;*/
/*}*/

/*h4::first-letter{*/
    /*font-size: 2.2rem;*/
/*}*/